.stack-work
*.beam
/elm-stuff/
/reading-list/seven_more_languages_in_seven_weeks/elm/elm-stuff
/reading-list/seven_more_languages_in_seven_weeks/elm/elm-package.json
**/.idea/
**/target/
*.iml
/reading-list/cracking_the_coding_interview/src/main/java/.DS_Store
*.out
*.o
/*.hi
*.hi
